<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Around Me - Meetup Events Nearby.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4F415B061CB7409100C12D46</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4F415B1F1CB7409100C12D46</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4F415B2A1CB7409100C12D46</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
